MONGO_URI= MONGO_URI
PORT= PORT
SECRET_KEY= SECRET_KEY
CLOUD_NAME= CLOUD_NAME
API_KEY=API_KEY
API_SECRET=API_SECRET
# Interview microservice (Python/LangGraph)
INTERVIEW_SERVICE_URL=INTERVIEW_SERVICE_URL
INTERNAL_SERVICE_KEY=INTERNAL_SERVICE_KEY
